PUBLIC_SUPABASE_URL=https://uwzmklziqjtzzujxsnro.supabase.co
PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV3em1rbHppcWp0enp1anhzbnJvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ0MDk0MzQsImV4cCI6MjA4OTk4NTQzNH0.F4MTm_aig9wXvlFRE52Slm_2uhX3jnqk25foke2UD4s


# katalogBatik26